$corDeFundo: #040714;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
$corDeFundoFaq: #13151d;
$corTextoFaq: #fff;
$corDeFundoBotaoPrimario: #6421ff;
$corDeFundoBotaoSecundario: #0063a5;
$corDeFundoBotaoDark: #000;